In [1]:
print('Afsaan khan')

Afsaan khan

In [64]:
a= 100000

In [2]:
10+2

12

In [3]:
10-2

8

In [4]:
a = 2

# what is a  --- variable

# what is 2   ---- value


a = 2 # assiging 2 to a

a = 2

print(a + 10)

12

In [5]:
a = 2
b = 2

print(a-b)

0

In [6]:
# a = 2, b = 2 , c=  3  add a and b and subtratc from c
a = 2
b = 2
c = 2

print(a+b-3)

1

In [7]:
a=10
b=20
print(a*b)

200

In [8]:
# = assignment operator
# a - varibale name
# 2 - literal(value)

In [ ]:
# indentifiers
-any name given to a variable , fucntion or a class is called indentifiers

Rules-
1. Allowed characters "A-Z" , 'a-z' , 0-9 , _
2. it shouldnt start with 0-9
3. case senstive
4. no length limit
5. cant use reserver word ( keyword )

In [9]:
#1 allowed character

a = 10

afsaan = 20

afsan10a = 20


afsan__a__ = 100

In [11]:
# 2. it shouldnt start with 0-9

_a__ = 10  # valid

0afsaan = 10  # invalid

afsaan@123 = 10 # invalid

SyntaxError: invalid syntax (<ipython-input-11-a9f24a9286c2>, line 5)

In [12]:
# 3. case senstive

a = 10
A = 20

print(a)
print(A)

afsaan = 10
Afsaan = 20

10
20

In [14]:
# 4. no length limit

aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa  = 10

print(aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa)

10

In [ ]:
# cant use the reserve word  -that are used by python for some special purpose


print = 10

In [15]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [16]:
False = 10

SyntaxError: cannot assign to False (<ipython-input-16-892860a61661>, line 1)

In [17]:
raise = 20

SyntaxError: invalid syntax (<ipython-input-17-74cd4bb0d3f4>, line 1)

In [19]:
try:
    a =2
    b=0
    print(a/0)
except:
    print(' not possible')

 not possible

# Basic Data types in python

basic data type
1. Numeric - int , complex , float
2. Boolean - True and False
3. string - anything written inside a '..' , ".." , '''...''' , """..."""
4. None


derived data type - taken from the basic data type
5. list
6. Tuple
7. set
8. dict

# 1 numeric data type

In [21]:
# 1 . int --- any value without a decimal point is called as int eg 10 , -100 , -10000 , 90 , 85

a = 10

print(a)

# how to verify it

# type function --- this fucntion thells the data type of the varibale

print(type(a))

10
<class 'int'>

In [23]:
afsaan = 9999

print(type(afsaan))
print(afsaan)

<class 'int'>
9999

In [24]:
# float - any value with decimal point is called as float eg 10.0 , 10.999999 , -19.9999


a = 10.2

print(type(a))

<class 'float'>

In [25]:
# complex - any number which can be represented in form of a + bi where a is the real part and b is imaginary part


a = 10 # int

b = 20  # int

c = 30 # int

d= 10+5j # complex  where 10 is real and 5j is imaginary

e = 10*2 # int

f = 10*3.4 # float

34.0

In [ ]:
# str - anything written inside a '..' , ".." , '''...''' , """..."""

In [30]:
a = 'afsaan'
print(type(a))
print(a)

a = "afsaan"
print(type(a))
print(a)



a = '''afsaan'''
print(type(a))
print(a)


a = """afsaan"""
print(type(a))
print(a)

<class 'str'>
afsaan
<class 'str'>
afsaan
<class 'str'>
afsaan
<class 'str'>
afsaan

In [31]:
a = 'it's a beautifull day '

SyntaxError: invalid syntax (<ipython-input-31-634f50d94a7f>, line 1)

In [33]:
a = "it's a beautifull day"
print(a)

it's a beautifull day

In [36]:
a = '''twinke twinkle little star
     xyz abc abc abc abc'''

In [37]:
print(a)

twinke twinkle little star
     xyz abc abc abc abc

In [38]:
a = None

print(type(a))

<class 'NoneType'>

In [45]:
# boolean - true or false

a = True

print(type(a))

a = False

print(type(a))

<class 'bool'>
<class 'bool'>

In [ ]:
derived data type - taken from the basic data type
5. list
6. Tuple
7. set
8. dict

In [42]:
# list - which is writeen inside a square [] and each element is seprated by ,
# it is heterogenous 

a = [1,1,1,1,1,1]

b=[1,1.1,None , True , 'afsaan']

print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [43]:
# tuple - which is writeen inside a round () and each element is seprated by ,
# it is heterogenous 

a = (1,1,1,1,1,1)

b=(1,1.1,None , True , 'afsaan')

print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [68]:
# set - which is writeen inside a curly {} and each element is seprated by ,
# duplication is not allowed
# it is heterogenous 

a = {1,1,1,1,1,1}

print(a)
a = {1,2,3,1,1,1}

print(a)



b= {1,1.1,None , True , 'afsaan'}

print(type(a))
print(type(b))

print(b)

{1}
{1, 2, 3}
<class 'set'>
<class 'set'>
{None, 1, 'afsaan', 1.1}

In [51]:
# dic - which is writeen inside a curly {} and each element is represent by key,value and seprated by ,
# duplication is not allowed
# it is heterogenous 

a = {'name':'Afsan' , 'age':24}

print(type(a))
print(a)

<class 'dict'>
{'name': 'Afsan', 'age': 24}

In [54]:
# true = 1
# false = 0

a = {0 , False}
a = {1 , True}


print(a)

{1}

In [71]:
a= 10  # int
b=20  # int
c=20.0  #float
d='20.4' # string
e=[[1,2,3] ,1,2,3] # list
f=[(1,2,3,4)] # list
g={1,2,3,4} # set
h={1:1} # dic  key value
i={(1,2,3) , 1,2,3} # set
j=({1:1}) # tuple

In [55]:
a = [1,2,3,4,5,6,6,4,5,4,3,4,5,5,6,6,7,8]
len(a)

18

In [56]:
a = 'afsaan'
len(a)

6

In [ ]:
# print() -- it print output to the scren
# type() -- tells the data type
# len() --- len of variable

In [57]:
# Comments

# 1. these are used to explain python

# 2. used to make code more readable

# 3. used to prevent exexution of the code

In [70]:
print(a)

{1, 2, 3}

In [66]:
a = 10
a = 100
a =1000

print(a)

1000

In [69]:
print(a)

{1, 2, 3}

In [73]:
pi = 3.14  # pi

r = 24  # radius

a = pi *r*r  # area of the circle

In [74]:
print(a)

1808.6399999999999

In [78]:
a = 10
b = 20
# c = 10+20

# print(a)
print(b)
print(c)

10
20
30

In [79]:
# how to check the memory addres of a varibale

a = 10
print(id(a))

93932248444512

In [80]:
a = 100

print(id(a))

93932248447392

In [82]:
a = 40
print(a)

40

In [ ]:
# type casting

# operators in python