# type casting
- converting one datatype to another is called type casting

In [2]:
a = 10
type(a)

int

In [4]:
# int  to float

# 1 method

a = 10
print(float(a))

10.0

In [ ]:
int()
str()
bool()

In [5]:
a = 10.3
print(int(a))

10

In [6]:
a = 'afsaan'
print(int(a))

ValueError: invalid literal for int() with base 10: 'afsaan'

In [7]:
a = 'afsaan'
print(float(a))

ValueError: could not convert string to float: 'afsaan'

In [8]:
a = '11'
print(float(a))

11.0

In [9]:
b = '11.0'
print(float(b))

11.0

In [10]:
b = '11.0'
print(int(b))

ValueError: invalid literal for int() with base 10: '11.0'

In [12]:
b = '11.0'
c = float(b)
print(int(c))

11

In [13]:
a = True
int(a)

1

In [14]:
# True 1
# False 0

a = True
float(a)

1.0

In [15]:
a = True
str(a)

'True'

In [17]:
bool('')

False

In [24]:
# int 0 is also always false
# in number other than zerop is true

bool(-100)

True

In [26]:
# float 0.0 is always false rest true

bool(-0.1)

True

In [29]:
# string - empty string is always flase rest true

bool('')

False

In [30]:
# python operators

- special symbols tha carry out arthematic op and logical op

- operands
that value that the operator operates on

In [ ]:
3 + 6

here 3 , 6 are operands and +is operator

In [ ]:
1. Arthematic opertors

- add
- sub
- mul
- div
- modulo
- floor divison
- power

In [45]:
# add
print(10+20)

# sub
print(10-20)

# mul
print(10*3)

# power
print(2**5)

# div -- always gives a answer in float
a =10
b = 2
print(a/b)

a =10
b =10
print(a/b)


# modulo - alwasy gives remainder (%)
a = 10
b = 2
print(10%2)

a = 12
b = 5
print(a%b)


# floor division - you always get anser in int (\\) if both operand are integer

a = 10
b = 3
print(a//b)

a = 10
b = 3.0
print(a//b)

30
-10
30
32
5.0
1.0
0
2
3
3.0

2. Comparison operators - >  , < , == , >= , <= ,  !=

- compare the values
- it return only true or false

In [48]:
12 > 15

False

In [49]:
15 > 12

True

In [50]:
15 == 10

False

In [51]:
15 <= 15

True

In [52]:
15 >= 15

True

In [53]:
15 != 15

False

In [54]:
a = 'afsaan'
b = 'Afsaan'

In [55]:
a < b

False

In [56]:
'afsaan' < 'afsaaN'

False

<img src = 'and.png' >

In [59]:
ls

'class_3_basic python.ipynb'            Untitled.ipynb
 class_4_type_casting_operators.ipynb

In [ ]:
#3 . logical operators

AND
OR
NOT

In [62]:
x = True
y = False

print(not y)

True

In [ ]:
4. Bitwise operators

- int

different types if bitwise operatores
- bitwise and (&)
- bitwise or  (|)
- bitwsie not (~)
- bitwise xor (^)
- bitwwise right shift (>>)
- bitwsie left shift (<<)

In [76]:
a = 2 # into binary 10
b = 7 # 111


print(a & b)

print(a | b)

print(a ^ b)


print(b>>2)

print(b<<2)

x = 10
print(~x)


a = 10
print(~a)

a = -99
print(~a)
# positive
# 1 will be added to 10 and the answer will be in negative

# negative
# 1 will be subtracted from value answer answer will be a postive

2
7
5
1
28
-11
-11
98

In [69]:
# Assignment operator

'0b111'

In [78]:
x = 5


x +=5 # ---> x = x+5
print(x)

10

In [79]:
x = 5


x -=5 # ---> x = x-5
print(x)

0

In [80]:
x = 5


x %=5 # ---> x = x % 5
print(x)

0

In [81]:
x = 5


x //=5 # ---> x = x // 5
print(x)

1

In [86]:
x = 5


x **=5 # ---> x = x ** 5
print(x)

3125

In [87]:
x = 5


x &=5 # ---> x = 5 & 5
print(x)

5

In [ ]:
x = 5


x |=5 # ---> x = 5 & 5
print(x)

In [89]:
x = 5


x ^=5 # ---> x = 5 & 5
print(x)

0

In [90]:
x = 5


x >>=5 # ---> x = 5 & 5
print(x)

0

In [91]:
x = 5


x <<=5 # ---> x = 5 & 5
print(x)

160

In [92]:
x = 5
a = 5

IndentationError: unexpected indent (<ipython-input-92-949806e8182c>, line 2)

In [93]:
a = 10
print(id(a))

94491535556192

In [94]:
object(94491535556192)

TypeError: object() takes no arguments