# EDA 31.07.21 - Life Expectancy

# Python Project – Life Expectancy

## Business Case: 

The Global Health Observatory (GHO) data repository under World Health Organization (WHO) keeps track of the health status as well as many other related factors for all countries. The data-set related to life expectancy, health factors for 193 countries has been collected from the same WHO data repository website and its corresponding economic data was collected from the United Nation website.  It has been observed that in the past 15 years, there has been a huge development in the health sector resulting in improvement of human mortality rates especially in the developing nations in comparison to the past 30 years. 
WHO has vast data for various verticals that can help humans to strive and survive under extreme conditions. You have been hired as a Data Analyst to  find the hidden key insights that can solve critical questions and provide a solution.


## Problem Statement: 


Health plays a vital role in deciding the Life Expectancy. People all over the world pay a lot to insurance companies to secure the finance, if there is a health emergency.  It becomes very important to know how much countries are spending on health facilities out of the total expenses. 
Your role is to draw insights on the countries and their expenses pattern. 
What are the health conditions in the country that are spending more or less on the health facilities?
These solutions can play a critical role in regards to human survival. 
Through the chain of scenarios designed, you will be able to solve problems and follow the process that real Data Analysts perform.

## Dataset Description:
1.	countryData – file showing the metrics of the country with important parameters.
2.	immunitizationData – file showing sickness factors of the country.  


#### countryData

Column Name	Data Type	Description
Country	Categorical	 Country name
Year	Discrete	 Year
Status	Categorical	 Status of the given country (Either Developing or Developed)
Life expectancy	Continuous	 in years
Adult Mortality	Continuous	 Adult Mortality Rates of both sexes (probability of dying between 15 and 60 years per 1000 population)
Alcohol	Continuous	 Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol)
Percentage expenditure	Continuous	 Expenditure on health as a percentage of Gross Domestic Product per capita (%)
Total expenditure	Continuous	 General government expenditure on health as a percentage of total government expenditure (%)
GDP	Continuous	 Gross Domestic Product per capita (in USD)
Population	Continuous	 Population of the country
thinness 1 - 19 years	Continuous	 Prevalence of thinness among children and adolescents for Age 10 to 19 (% )
thinness 5 - 9 years	Continuous	 Prevalence of thinness among children for Age 5 to 9(%)
Income composition of resources	Continuous	 Human Development Index in terms of income composition of resources (index ranging from 0 to 1)
Schooling	Continuous	 Number of years of Schooling(years)

#### immunitizationData

Column Name	Data Type	Description
Country	Categorical	 Country name
Year	Discrete	 Year
Infant deaths	Continuous	 Number of Infant Deaths per 1000 population
Hepatitis B	Continuous	 Hepatitis B (HepB) immunization coverage among 1 - year olds (%)
Measles	Continuous	 Measles  number of reported cases per 1000 population
BMI	Continuous	 Average Body Mass Index of entire population
Under five death	Continuous	 Number of under - five deaths per 1000 population
Polio	Continuous	 Polio (Pol3) immunization coverage among 1 - year olds (%)
Diphtheria	Continuous	 Diphtheria tetanus toxoid and pertussis (DTP3) immunization coverage among 1 - year olds (%)
HIV/AID	Continuous	 Deaths per 1 000 live births HIV/AIDS (0 - 4 years)

# Scenario 1:
You have been given the required dataset by the WHO to help the countries know about their health status, as well as, help individuals to get prepared with the upcoming problems. There are 2 datasets available which are present in csv format and you have to explore it, align it if it is not in structured format.

**Task 1:** 

●	Import the libraries numpy, pandas, Matplotlib and seaborn that are going to be used for data exploration. 

●	Call the two datasets using python and save them under the variable name df1 for “countryData” and df2 for “immunitizationData”. 

●	View the top 3 rows of both datasets.

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
df1 = pd.read_csv("countryData.csv")
df2 = pd.read_csv("immunitizationData.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'countryData.csv'

In [3]:
df1.head()

,Country,Year,Status,Life expectancy,Adult Mortality,Alcohol,percentage expenditure,Total expenditure,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,0.01,71.279624,8.16,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,0.01,73.523582,8.18,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,0.01,73.219243,8.13,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,0.01,78.184215,8.52,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,0.01,7.097109,7.87,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [4]:
df2.head()

,Country,Year,infant deaths,Hepatitis B,Measles,BMI,under-five deaths,Polio,Diphtheria,HIV/AIDS
0,Afghanistan,2015,62,65.0,1154,19.1,83,6.0,65.0,0.1
1,Afghanistan,2014,64,62.0,492,18.6,86,58.0,62.0,0.1
2,Afghanistan,2013,66,64.0,430,18.1,89,62.0,64.0,0.1
3,Afghanistan,2012,69,67.0,2787,17.6,93,67.0,67.0,0.1
4,Afghanistan,2011,71,68.0,3013,17.2,97,68.0,68.0,0.1

**Task 2:**

When the dataset is loaded successfully, the first and foremost job of a Data Analyst is to get clarity on the structure of the dataset. To get this information we will do basic exploration, follow below steps;

●	Once the dataset is called, understanding the feature names becomes important. Show the feature names for both the datasets

●	What are the dimensions for both the dataset?

●	Considering you have created the datasets. to apply any operation on a feature you need to understand its datatype. 
Show the datatypes of each column?

In [5]:
df1.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'Alcohol', 'percentage expenditure', 'Total expenditure', 'GDP',
       'Population', ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [6]:
df2.columns

Index(['Country', 'Year', 'infant deaths', 'Hepatitis B', 'Measles ', ' BMI ',
       'under-five deaths ', 'Polio', 'Diphtheria ', ' HIV/AIDS'],
      dtype='object')

In [8]:
print(df1.shape)
print(df2.shape)

(2938, 14)
(2938, 10)

In [10]:
df1.dtypes

Country                             object
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
Alcohol                            float64
percentage expenditure             float64
Total expenditure                  float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

In [11]:
df2.dtypes

Country                object
Year                    int64
infant deaths           int64
Hepatitis B           float64
Measles                 int64
 BMI                  float64
under-five deaths       int64
Polio                 float64
Diphtheria            float64
 HIV/AIDS             float64
dtype: object

     Question : 
A lot of health data is available in ‘immunitizationData’, which is taken as df2. how can you view the column names except “Country” and “Year”?

() df2.columns[2]

() df2.columns[ : 2]

() df2.columns[2 : ]

() df2.columns[ : -2]

In [12]:
df2.columns[2 : ]

Index(['infant deaths', 'Hepatitis B', 'Measles ', ' BMI ',
       'under-five deaths ', 'Polio', 'Diphtheria ', ' HIV/AIDS'],
      dtype='object')

Question: 
You can use a few commands to view the dataset or check for the dimensions. You have to find the code that will show error, if called (df stands for dataframe)?

() df.shape

() df.head()

() df.row

() df.info()

In [16]:
df1.row

AttributeError: 'DataFrame' object has no attribute 'row'

**Task 3:** 

You have just kick started your exploration and observed that there is not a single column with unique values that can be used to merge the datasets. Also, the column names have blank spaces, which you have to work to correct. You have to create a primary key column for both data frames by using the apply method. Perform below tasks;

●	Rename the column by removing blank spaces from both the dataset. Apply string strip function on each dataset column.

●	Create a unique column, named as “UniqueKey”. We will explore unique columns from both the dataset. If not then we will have to create it.

In [22]:
df3 = df1.copy()

In [29]:
df3.columns

Index(['Country', 'Year', 'Status', 'Life X', 'Adult Mortality', 'Alcohol',
       '%age Expense', 'Total expenditure', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [28]:
df3.rename(columns = {"percentage expenditure" : "%age Expense", 
                     "Life expectancy " : "Life X"}, inplace = True)

In [34]:
df3['New total'] = df3['Total expenditure'] + df3['%age Expense']

In [35]:
df3.head()

,Country,Year,Status,Life X,Adult Mortality,Alcohol,%age Expense,Total expenditure,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,New total
0,Afghanistan,2015,Developing,65.0,263.0,0.01,71.279624,8.16,584.259210,33736494.0,17.2,17.3,0.479,10.1,79.439624
1,Afghanistan,2014,Developing,59.9,271.0,0.01,73.523582,8.18,612.696514,327582.0,17.5,17.5,0.476,10.0,81.703582
2,Afghanistan,2013,Developing,59.9,268.0,0.01,73.219243,8.13,631.744976,31731688.0,17.7,17.7,0.470,9.9,81.349243
3,Afghanistan,2012,Developing,59.5,272.0,0.01,78.184215,8.52,669.959000,3696958.0,17.9,18.0,0.463,9.8,86.704215
4,Afghanistan,2011,Developing,59.2,275.0,0.01,7.097109,7.87,63.537231,2978599.0,18.2,18.2,0.454,9.5,14.967109

In [30]:
df1 = df1.rename(columns = lambda x : x.strip())
df2 = df2.rename(columns = lambda x : x.strip())

In [31]:
df1.columns

Index(['Country', 'Year', 'Status', 'Life expectancy', 'Adult Mortality',
       'Alcohol', 'percentage expenditure', 'Total expenditure', 'GDP',
       'Population', 'thinness  1-19 years', 'thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [32]:
df2.columns

Index(['Country', 'Year', 'infant deaths', 'Hepatitis B', 'Measles', 'BMI',
       'under-five deaths', 'Polio', 'Diphtheria', 'HIV/AIDS'],
      dtype='object')

**Task 4:** 

Both the datasets have columns “Country” and “Year” as common, so we can drop columns “Country” and “Year” from any dataframe, or else, after merging you will find two columns each related to “Country” and “Year”.

●	Remove the columns “Country” and “Year” from df2.

●	Apply Merge operations on the datasets df1 and df2, using the common column “UniqueKey”, to form a single dataset and name it as df.

In [33]:
df1['Country'].head(3)

0    Afghanistan
1    Afghanistan
2    Afghanistan
Name: Country, dtype: object

In [36]:
df1['UniqueKey'] = df1.apply(lambda x : x['Country'] + str(x['Year']), axis = 1)
df2['UniqueKey'] = df2.apply(lambda x : x['Country'] + str(x['Year']), axis = 1)

In [37]:
df1.head(3)

,Country,Year,Status,Life expectancy,Adult Mortality,Alcohol,percentage expenditure,Total expenditure,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,UniqueKey
0,Afghanistan,2015,Developing,65.0,263.0,0.01,71.279624,8.16,584.259210,33736494.0,17.2,17.3,0.479,10.1,Afghanistan2015
1,Afghanistan,2014,Developing,59.9,271.0,0.01,73.523582,8.18,612.696514,327582.0,17.5,17.5,0.476,10.0,Afghanistan2014
2,Afghanistan,2013,Developing,59.9,268.0,0.01,73.219243,8.13,631.744976,31731688.0,17.7,17.7,0.470,9.9,Afghanistan2013

In [38]:
df2.head()

,Country,Year,infant deaths,Hepatitis B,Measles,BMI,under-five deaths,Polio,Diphtheria,HIV/AIDS,UniqueKey
0,Afghanistan,2015,62,65.0,1154,19.1,83,6.0,65.0,0.1,Afghanistan2015
1,Afghanistan,2014,64,62.0,492,18.6,86,58.0,62.0,0.1,Afghanistan2014
2,Afghanistan,2013,66,64.0,430,18.1,89,62.0,64.0,0.1,Afghanistan2013
3,Afghanistan,2012,69,67.0,2787,17.6,93,67.0,67.0,0.1,Afghanistan2012
4,Afghanistan,2011,71,68.0,3013,17.2,97,68.0,68.0,0.1,Afghanistan2011

In [40]:
df1.UniqueKey.value_counts()

Jamaica2010         1
Austria2010         1
Serbia2013          1
Eritrea2013         1
Uganda2000          1
                   ..
Sierra Leone2013    1
Zambia2015          1
Comoros2012         1
Gabon2010           1
Montenegro2015      1
Name: UniqueKey, Length: 2938, dtype: int64

In [43]:
df2.UniqueKey.value_counts()

Jamaica2010         1
Austria2010         1
Serbia2013          1
Eritrea2013         1
Uganda2000          1
                   ..
Sierra Leone2013    1
Zambia2015          1
Comoros2012         1
Gabon2010           1
Montenegro2015      1
Name: UniqueKey, Length: 2938, dtype: int64

In [41]:
df1.Year.value_counts()

2013    193
2015    183
2011    183
2009    183
2007    183
2005    183
2003    183
2001    183
2014    183
2012    183
2010    183
2008    183
2006    183
2004    183
2002    183
2000    183
Name: Year, dtype: int64

In [45]:
df2.drop(['Country', 'Year'], axis = 1, inplace = True)

In [8]:
df2.head(2)

NameError: name 'df2' is not defined

In [47]:
df = pd.merge(df1, df2, on = "UniqueKey", how = 'inner')
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,Alcohol,percentage expenditure,Total expenditure,GDP,Population,...,Schooling,UniqueKey,infant deaths,Hepatitis B,Measles,BMI,under-five deaths,Polio,Diphtheria,HIV/AIDS
0,Afghanistan,2015,Developing,65.0,263.0,0.01,71.279624,8.16,584.259210,33736494.0,...,10.1,Afghanistan2015,62,65.0,1154,19.1,83,6.0,65.0,0.1
1,Afghanistan,2014,Developing,59.9,271.0,0.01,73.523582,8.18,612.696514,327582.0,...,10.0,Afghanistan2014,64,62.0,492,18.6,86,58.0,62.0,0.1
2,Afghanistan,2013,Developing,59.9,268.0,0.01,73.219243,8.13,631.744976,31731688.0,...,9.9,Afghanistan2013,66,64.0,430,18.1,89,62.0,64.0,0.1
3,Afghanistan,2012,Developing,59.5,272.0,0.01,78.184215,8.52,669.959000,3696958.0,...,9.8,Afghanistan2012,69,67.0,2787,17.6,93,67.0,67.0,0.1
4,Afghanistan,2011,Developing,59.2,275.0,0.01,7.097109,7.87,63.537231,2978599.0,...,9.5,Afghanistan2011,71,68.0,3013,17.2,97,68.0,68.0,0.1

In [48]:
# drop column Unique Key : YOUR CHOICE

Question: 
Depending on the various options we have for joins, which one will you prefer ?

() left

() right

() outer

() all of them

In [51]:
new_ = pd.merge(df1, df2, on = "UniqueKey", how = 'inner')
print(new_.shape)

new_ = pd.merge(df1, df2, on = "UniqueKey", how = 'outer')
print(new_.shape)

new_ = pd.merge(df1, df2, on = "UniqueKey", how = 'left')
print(new_.shape)

new_ = pd.merge(df1, df2, on = "UniqueKey", how = 'right')
print(new_.shape)

(2938, 23)
(2938, 23)
(2938, 23)
(2938, 23)

# Scenario 2: 

You should give yourself a pat. You have successfully merged the dataset . Before you can start exploring the relationships and draw insights, cleaning the dataset is the most important job. Complete below tasks to prepare your dataset for further analysis.

**Task 1:** 

●	there can be a chance you have received a dataset with duplicate values. Remove them and analyze the dimension of the dataframe before and after removing.

●	For each feature, identify the total number of unique values.

●	Information for the feature ‘Uniquekey’ is already reflected in “Country” and “Year”. you can remove it and verify your results by viewing the column names.

In [52]:
print(df.shape)

df.drop_duplicates(inplace = True)

print(df.shape)

(2938, 23)
(2938, 23)

In [54]:
df.nunique()

Country                             193
Year                                 16
Status                                2
Life expectancy                     362
Adult Mortality                     425
Alcohol                            1076
percentage expenditure             2328
Total expenditure                   818
GDP                                2490
Population                         2278
thinness  1-19 years                200
thinness 5-9 years                  207
Income composition of resources     625
Schooling                           173
UniqueKey                          2938
infant deaths                       209
Hepatitis B                          87
Measles                             958
BMI                                 608
under-five deaths                   252
Polio                                73
Diphtheria                           81
HIV/AIDS                            200
dtype: int64

Question: 
What is the total number of unique values present in the “Schooling” feature?

**Task 2:** 

●	show the total null (NA) values in each feature of the dataset.

●	Fill NA values in each continuous column by its median. Follow below steps mentioned in the picture attached  .

●	Check if NAs are present after the above imputing task.

In [62]:
df.dtypes

Country                             object
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
Alcohol                            float64
percentage expenditure             float64
Total expenditure                  float64
GDP                                float64
Population                         float64
thinness  1-19 years               float64
thinness 5-9 years                 float64
Income composition of resources    float64
Schooling                          float64
UniqueKey                           object
infant deaths                        int64
Hepatitis B                        float64
Measles                              int64
BMI                                float64
under-five deaths                    int64
Polio                              float64
Diphtheria                         float64
HIV/AIDS                           float64
dtype: object

In [60]:
df.isna().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
Alcohol                            194
percentage expenditure               0
Total expenditure                  226
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
UniqueKey                            0
infant deaths                        0
Hepatitis B                        553
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Diphtheria                          19
HIV/AIDS                             0
dtype: int64

Question: 

    There are NAs present in few features of the dataset. Identify the total number of features that have NAs?

() 17

() 15

() 14

() 10

ans = 14

Question: 

You have found a lot of columns with NAs. The count of NAs in each column is not that much to remove the feature. You can apply a function to fill NAs with a central tendency such that the datatype doesn’t change. Which method can you choose?

() Mode

() Mean

() Median

() Max

In [63]:
df.drop("UniqueKey", axis = 1, inplace = True)

In [64]:
df.dtypes

Country                             object
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
Alcohol                            float64
percentage expenditure             float64
Total expenditure                  float64
GDP                                float64
Population                         float64
thinness  1-19 years               float64
thinness 5-9 years                 float64
Income composition of resources    float64
Schooling                          float64
infant deaths                        int64
Hepatitis B                        float64
Measles                              int64
BMI                                float64
under-five deaths                    int64
Polio                              float64
Diphtheria                         float64
HIV/AIDS                           float64
dtype: object

In [61]:
# df['Schooling'].fillna()

In [68]:
for i in range(3, len(df.columns)) :
    df.iloc[:, i].fillna(df.iloc[: , i].median(), inplace = True)

In [66]:
# df.iloc[: , 3]

In [6]:
df.isna().sum()

NameError: name 'df' is not defined

In [7]:
plt.hist(df['Life expectancy'])
plt.xlabel("Life expectancy")
plt.ylabel("Frequency")
plt.title("Life expectancy Distribution")
plt.show()

NameError: name 'df' is not defined